@use '../../styles/_colors.scss' as *;
.favoritesPage {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.artGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
