@use '../../styles/_colors.scss' as *;
.sortButton {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
.button {
    padding: 8px 12px;
    background-color: $white;
    border: 1px solid $light-gray;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
        background-color: $secondary-color;
        color: $white;
        border-color: $secondary-color;
    }
    &.active {
        background-color: $primary-color;
        color: $white;
        border-color: $primary-color;
    }
}
