@use '../../styles/_colors.scss' as *;

.searchForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input {
    padding: 8px;
    border: 1px solid $light-gray;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
    &:focus {
        border-color: $primary-color;
    }
}
.error {
    color: $error;
}
